<h3>Product info</h3>
<table>
    <tr>
        <td>Id</td>
        <td>{{product.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{product.name}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{product.price * 23000}} VND</td>
    </tr>
</table>

<h3>List Product</h3>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        
    </tr>
    <ng-container *ngFor="let p of products">
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            
        </tr>
    </ng-container>
</table>